* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}
body {
	background-color: black;
}
.main {
	display: flex;
	width: 100%;
}
.sub {
	text-align: right;
	margin-top: 10px;
	width: 200px;
	h5 {
		padding: 10px;
	}
	h3 {
		padding: 10px;
	}
}
.grid-path {
	width: 90%;
	height: 620px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	text-align: center;
	font-size: 50px;
	gap: 10px;
}
.grid-1 {
	grid-column: 1 / span 4;
	grid-row: 1;
	background: url(img\ 1.jpg);
	background-size: cover;
	background-position: center;
}
.grid-2 {
	grid-column: 5/span 2;
	background: url(img\ 2.jpg);
	background-size: cover;
	background-position: center;
}
.grid-3 {
	grid-column: 1/span;
	background: url(img\ 3.jpg);
	background-size: cover;
	background-position: center;
}
.grid-4 {
	grid-column: 2/span 4;
	background: url(img\ 4.jpg);
	background-size: cover;
	background-position: center;
}
.grid-5 {
	background: url(img\ 5.jpg);
	background-size: cover;
	background-position: center;
}
.grid-6 {
	grid-column: 1/span 3;
	background: url(img\ 6.jpg);
	background-size: cover;
	background-position: center;
}
.grid-7 {
	grid-column: 4 /span 3;
	background: url(img\ 7.jpg);
	background-size: cover;
	background-position: center;
}
.grid-8 {
	grid-column: 1 /span 2;
	background: url(img\ 8.jpg);
	background-size: cover;
	background-position: center;
}
.grid-9 {
	grid-column: 3/span 2;
	background: url(img\ 9.jpg);
	background-size: cover;
	background-position: center;
}
.grid-10 {
	grid-column: 5/span 2;
	background: url(img\ 10.jpg);
	background-size: cover;
	background-position: center;
}
h5 {
	&:hover {
		color: #FF8000;
	}
}
.logo {
	display: inline;
	i {
		margin: 10px;
	}
}